wheel==0.37.1
py-cord
py-cord[speed]
py-cord[voice]
PyNaCl==1.4.0
requests==2.26.0
dnspython==2.1.0
async-timeout==3.0.1
python-dotenv==0.19.2
pillow==9.0.1
arabic-reshaper==2.1.3
pymongo>=4.0.1
pymongo[srv]
humanfriendly==10.0
youtube-dl==2021.12.17
beautifulsoup4==4.10.0
google==3.0.0
googletrans==3.1.0a0
lxml>=4.9.1
git+https://github.com/M0hanad1/python-sdk
